

/* micro reset */

* {
	box-sizing: border-box;
}
html, body, ul {
	padding: 0; margin: 0;
}

body {
	font-family: Helvetica, Helvetica, Arial, sans-serif;
	color: #F1EEDD;
	width: 100%;
	height: 2000px;

}
/* menu complet */
.header {
	position: fixed;
	font-size: 20px;
	width: 100%;
	z-index: 10;
}
/* logo */
.header-logo {
margin-left: 10px;
float: left;

vertical-align: middle;
}

.header-logo img {
	max-width: 200px;
height: auto;
}
/* couleur menu */
.main-header {
	color: #ffffff;
	background : rgb(0,0,0,.5);
	
}

.header-inner {
	display:table;
	width: 100%;
	padding: 20px 0px;
}


.header-inner > * {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    
}

/* Alignement du menu */
.header-nav {
margin-right: 10px;
	
}

.header-nav ul,
.header-nav li {
	display: inline;
    list-style: none;
    
}
.header-nav a {
	position: relative;

	padding: 8px 80px;
    vertical-align: middle;
	font-weight: 300; /* entre regular et light */
	letter-spacing: 0.025em;
	color: inherit;
    text-decoration: none;
}
/* enlever sooulignement et couleur au survol */

.header-nav a:hover {
	 color: white;
	 text-decoration: none;
 }
/* Animation du lien */
.header-nav a:after {
	content: "";
	position: absolute;
	bottom: 0; right: 20px; left: 20px;
	height: 2px;
	background-color: #ffffff;

	/* Préparation de notre animation */
	opacity: 0;
	transform: translateY(5px);
	transition: all .4s;
}
/* Le trait */
.header-nav a:hover:after,
.header-nav a:focus:after {
	opacity: .6;
	transform: translateY(0);
}

.header-nav a:focus {
	outline: none;
}


 .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.slider {
	z-index: 1;
}


.carousel img{
	top: 0px;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.carousel-inner {
	width: 100%;
	height: vh;
}

.tarifs {
	background: linear-gradient(#01060B, #174260);
	padding: 80px;
} 


h1 {
font-size: 130%;

}
.box_price{
	background-color:black;
	border-radius: 7%;
	width: 50%;
	height: 50%;
	text-align: center;
	padding: 20px;
	box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.6);
}

.container_price {
	display: flex;
	justify-content: center;
	align-items: center;
}

.price_description {
	opacity: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.title_description{
	display: flex;
	flex-direction: column;
	text-align: left;
	padding-right: 15%;
}

.title_description p {
	margin-top: 0;
	font-size: 12px;;
	font-family: "HelveticaNeue-Thin", "Helvetica Neue";
	
}

.title_description h1 {
	margin-bottom: 0;
	font-size: 20px;;
}

.price_description > p {
	font-style: bold;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 20px;
}

.tarifs h3 {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 58px;
}

.footer {
	background: linear-gradient(#01060B, #174260);
}

.footer h1{
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 20px;
}

.footer p{
	font-family: "HelveticaNeue-Light", "Helvetica Neue";
	font-size: 15px;
}

.onglet {
	display: flex;
	justify-content: space-between;
}

.partnership li{
	display: flex;
	justify-content: center;
}

.copyright span {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

ul {
	list-style-type: none;
}
	
a {
	text-decoration:none; 
	font-family: "HelveticaNeue-Light", "Helvetica Neue";
	color: white;
	font-size: 15px;
}
	
a:hover
{
text-decoration: underline;

}

.image_footer ul {
	display: flex;
	flex-direction: row;
}
