

/* micro reset */

* {
	box-sizing: border-box;
}
html, body, ul {
	padding: 0; margin: 0;
}

body {
	background-color: black;
	width: 100%;
	

}
/* menu complet */
.header {
	position: fixed;
	transition: top 0.9s;
	font-size: 10px;
	width: 100%;
	z-index: 10;
	top : 0;
}
/* logo */
.header-logo {
margin-left: 10px;
float: left;
vertical-align: middle;
}

.header-logo img {
	max-width: 185px;
height: auto;
}
.icon { 
	
	color: white;
	width: 30px;
	height: auto;
}
/* couleur menu */
.main-header {
	color: #ffffff;
	background : rgb(0,0,0,.5);
	
}

.header-inner {
	display:table;
	width: 100%;
	padding: 20px 0px;
}


.header-inner > * {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    
}

/* Alignement du menu */
.header-nav {
margin-right: 10px;
width: 40vw;
	
}

.header-nav ul,
.header-nav li {
	display: inline;
    list-style: none;
    
}
.header-nav a {
	position: relative;
font-size: 20px;
	padding: 8px 40px;
    vertical-align: middle;
	font-weight: 300; /* entre regular et light */
	letter-spacing: 0.025em;
	color: inherit;
    text-decoration: none;
}
/* enlever sooulignement et couleur au survol */

.header-nav a:hover {
	 color: white;
	 text-decoration: none;
 }
/* Animation du lien */
.header-nav a:after {
	content: "";
	position: absolute;
	bottom: 0; right: 20px; left: 20px;
	height: 2px;
	background-color: #ffffff;

	/* Préparation de l'animation */
	opacity: 0;
	transform: translateY(5px);
	transition: all .4s;
}
/* Le trait */
.header-nav a:hover:after,
.header-nav a:focus:after {
	opacity: .6;
	transform: translateY(0);
}

.header-nav a:focus {
	outline: none;
}


.sort {
   position: absolute;
    top: -100px;
  }

.slider {
	z-index: 1;
}


.carousel .image img{
	top: 0px;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	filter: blur(4px) contrast(150%);
	}

	.carousel .image:after{
		position: absolute; 
		content: ''; 
		display: block; 
		top: 0; left: 0; 
		height: 100vh; 
		width: 100%;
		background: rgba(0, 0, 0, 0.6);
		}
.carousel-inner {
	width: 100%;
	height: 100vh;
}

/* Description evenement */

.text-actu {
	position: absolute;
	z-index: 2;
	top: 22vh;
	left: 25vh;
	color :white;
}

.text-actu a {
	display: inline;
	background: none;
	background-color: rgba(0,0,0,.0);
}
.description {
	display: inline-block;
	padding-left: 45px;
}

.pin{
	position: absolute;
	top: 0px;
	margin-top: 15px;
	left: 0;
	height: 400px;
	width: auto;
	display: inline-block;
	
	top: 0;
}
.pin img{
	vertical-align: middle;
	top: 10vh;
	left: 20vw;
	position: absolute;
	
	color: black;
}
.calendar {
line-height: 1;
}


.jour-mois {
display: inline-block;

width: 30%;
list-style: none;
line-height: 1;
font-size: 30px;
}
.jour-mois li {
	line-height: 0,5;
}

.date {
	font-family: 'Montserrat', sans-serif;
	font-size: 75px;
	font-weight: 50;
	font-weight : thin ;
}
/* .jour {



}

.mois {

} */
	
.titre {
	line-height: 1;
	font-size: 70px;
	font-weight: 400;
}
.auteur {

	font-style: italic;
	font-weight: 500;
	font-size: 20px;
	
	
}
.presentation {

	line-height: 1,5;
	padding-top: 50px;
	font-size: 20px;
	font-family: 'Montserrat' sans-serif;
	font-weight: 100;

	height: 100vh;
}
